---
pagination:
  data: collections.posts
  size: 5
  alias: list
  reverse: true
permalink: '<% if (pagination.pageNumber > 0) { %><%= `page${pagination.pageNumber + 1}/index.html` %><% } else { %>index.html<% } %>'
eleventyComputed:
  title: '<% if (pagination.pageNumber > 0) { %><%= `Page ${pagination.pageNumber + 1} | ${site.title}` %><% } else { %><%= site.title %><% } %>'
---

<div class="grid grid-flow-row grid-rows-3 gap-3">
  <% list.forEach((post) => { %>
    <div><img src="<%= post.data.image %>" alt="<%= post.data.title %>"><span><%= this.dateFns.format(new Date(post.data.date), 'LLLL d, yyyy') %></span></div>
  <% }) %>    
</div>

<div class="flex justify-between text-sm">
  <% if (pagination.previous) { %>
  <div>
    <a href="<%= pagination.previous.replace(/index.html$/, "") %>">← Post mas recientes</a>
  </div>
  <% } %> <% if (pagination.next) { %>
  <div class="ml-auto text-right">
    <a href="<%= pagination.next.replace(/index.html$/, "") %>">Post antiguos →</a>
  </div>
  <% } %>
</div>
